<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359719385680-ai7r9r7vm20h2qprvj76ln5n5fj3hfdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359719385680-ai7r9r7vm20h2qprvj76ln5n5fj3hfdl</string>
	<key>API_KEY</key>
	<string>AIzaSyDVQJBGt9Ll9IQ9WWimUwfU8yRgfpyc-jI</string>
	<key>GCM_SENDER_ID</key>
	<string>359719385680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.innafor</string>
	<key>PROJECT_ID</key>
	<string>innafor-f4e41</string>
	<key>STORAGE_BUCKET</key>
	<string>innafor-f4e41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:359719385680:ios:c5e15e384e2e27b0</string>
	<key>DATABASE_URL</key>
	<string>https://innafor-f4e41.firebaseio.com</string>
</dict>
</plist>
